@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1 class="display-4">Projects</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var project in Model.Projects)
            {
                <tr>
                    <td><a asp-page="/Detail" asp-route-id="@project.Id">@project.Id</a></td>
                    <td>@project.Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>
